<h2>Plants Index Page</h2>

<% @plants.each do |plant| %>
  <h3><%= plant.name %></h3>
  <p>Type: <%= plant.plant_type %></p>
  <p>Water Needs: <%= plant.water %></p>
  <p>Light Needs: <%= plant.light %></p>
  <p>Poisonous?: <%= plant.poisonous %></p>
  <p>Growing Zone: <%= plant.zone %></p>
  
  <%= link_to "Update #{plant.name}", "/plants/#{plant.id}/edit" %>
<% end %>
