<h2>Plant: <%= @plant.name %></p></h2> 
<br>
<p> Type: <%= @plant.plant_type %></p>
<p> Water Needs: <%= @plant.water %></p>
<p> Light Needs: <%= @plant.light %></p>
<p> Poisonous?: <%= @plant.poisonous %></p>
<p> Growing Zone: <%= @plant.zone %></p>
