<h2>Garden</h2> 
<br>
<p>Name: <%=@garden.name%></p>
<p>Location: <%=@garden.location%></p>
<p>Ready to Plant?: <%=@garden.plantable%></p>
<p>Plot Number: <%= @garden.plot%></p>
<br>
<p>Number of Plants: <%=@garden.count_of_plants%></p>
<br>
<p><%= link_to "Plants in this Garden", "/gardens/#{@garden.id}/plants" %></p>
