<h2> Plants Found in <%= "#{@garden.name}" %></h2>
<%= link_to "Sort Plants by Name", sort: 'name' %>
%>
<br>
<% @plants.each do |plant| %>
  <h4><p> Name: <%= plant.name %></p></h4>
  <p> Type: <%= plant.plant_type %></p>
  <p> Water Needs: <%= plant.water %></p>
  <p> Light Needs: <%= plant.light %></p>
  <p> Poisonous?: <%= plant.poisonous %></p>
  <p> Growing Zone: <%= plant.zone %></p>
  <% end %>

  <%= link_to "Create Plant", "/gardens/#{@garden.id}/plants/new" %>
